body {
    font-family: 'Lora', serif;
}
.beginning {
    display: flex;
    margin-bottom: 100px;
}
.skip {
    color: darkcyan;
}
h1 {
    font-size: 50px;
}
.opening {
    width: 50%;
}
#first {
    padding-top: 70px;
    padding-left: 60px;
}
.diet {
    color:darkslategrey ;
}
.imagine {
    font-size: 30px;
    color:dimgray;
}
.button {
    font-size: 20px;
    text-decoration: none;
    background-image: linear-gradient(blue , skyblue );
    color: white;
    border-top: 20px;
   padding: 20px 40px;
    border-radius: 20%;
    font-weight: 400;
}
p{
    padding-bottom: 50px;
}

.image {
    padding-left: 130px;
    padding-top: 60px;
}
#background {
    background-image: url(images/shapes/Frame\ 56.jpg);
    padding-bottom: 0%;
    
}
h2 {
    font-size: 35px;
    padding-top: 60px;
    color: darkslategray;
}
.lorem {
    font-size: 20px;
    text-align:left;
    padding-right: 200px;
color: dimgray;
}
.intro {
    text-align: center;
    padding: 40px 450px;
    font-size: 20px;
    color: dimgray;
    padding-top: 0px;
}
.New-recipe {
    display: flex;
    width: 50%;
    padding: 0px 100px;
}
.border {
    border: 20px solid white;
    box-shadow: 10px 10px 10px blue;
    border-radius: 10%;
margin-right: 40px;
}
.reviews {
    display: flex;
    padding: 0%;
}
.customers {
    text-align: center;
    
    padding: 200px;
}
#one {
    padding-left: 400px;
    padding-right: 0%;
}
#two {
padding-left: 10%;
}
#three {
padding-left: 0%;
}
footer{
    background-color: black;
   
    height: 200px;
    width:100%;
}
.last{
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    color: skyblue;
}
.small{
    text-align: center;
    color: gray;
    padding-left: 580px;
    
}